@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";

// @font-face {
// 	font-family: "Ceremonioustwo";
// 	src: url("../fonts/ceremonioustwo.eot");
// 	src: local("☺"), url("../fonts/ceremonioustwo.woff") format("woff"), url("../fonts/ceremonioustwo.ttf") format("truetype"),
// 		url("../fonts/ceremonioustwo.svg") format("svg"), url("../fonts/ceremonioustwo.otf") format("otf");
// 	font-weight: 300;
// 	font-style: normal;
// }


@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Light.eot");
	src: local("☺"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"),
		url("../fonts/Lato-Light.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.eot");
	src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"),
		url("../fonts/Lato-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Medium.eot");
	src: local("☺"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype"),
		url("../fonts/Lato-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Semibold.eot");
	src: local("☺"), url("../fonts/Lato-Semibold.woff") format("woff"),
		url("../fonts/Lato-Semibold.ttf") format("truetype"), url("../fonts/Lato-Semibold.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("fonts/Lato-Bold.eot");
	src: local("☺"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"),
		url("../fonts/Lato-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Heavy.eot");
	src: local("☺"), url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.ttf") format("truetype"),
		url("../fonts/Lato-Heavy.svg") format("svg");
	font-weight: 900;
	font-style: normal;
}

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Lato";
$fontSize: 14;
$fontWeight: 400;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>======================================================================================================= 

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1440;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #1A1818;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	font-weight: $fontWeight;
	color: $mainColor;
	line-height: 24px;
	// background: #333;

	a {
		font-family: "Lato";
		color: #1A1818;
	}

	&._lock {
		overflow: hidden;
		touch-action: none;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ЗАГОЛОВКИ>=================================================================================================================
h1 {
	font-family: 'Ceremonioustwo', sans-serif;
	font-size: 63px;
	font-weight: 300;
	line-height: 117.98 / 98.32 *100%;

	span {
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 70px;
		line-height: 84 / 70 *100%;
		color: #fff;
		margin-top: -30px;
		display: block;
	}
}

h2 {
	font-family: 'Ceremonioustwo', sans-serif;
	font-size: 53px;
	font-weight: 300;
	line-height: 72 / 60 *100%;

	span {
		font-family: 'Lato', sans-serif;
		font-size: 18px;
		font-weight: 500;
		color: #1A1818;
		color: #00b4f1;
		margin-top: -25px;
		display: block;
	}
}

h3 {
	font-size: 40px;
	font-weight: 700;
	line-height: 48 / 40 *100%;

	span {
		font-family: 'Lato', sans-serif;
		font-size: 30px;
		font-weight: 100;
		line-height: 36 / 30 *100%;
		color: #FFFFFF;
		margin-top: -6px;
		display: block;
	}
}

h4 {
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
}

h5 {
	font-size: 24px;
	font-weight: 700;
	line-height: 28.8 / 24 *100%;
}

h6 {
	font-size: 19px;
	font-weight: 500;
	line-height: 22.8 / 19 *100%;
}

.title {
	text-align: center;
	// color: #CC870B;
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 24px;
	}
}

.section {
	padding: 65px 0;
}

//<ЗАГОЛОВКИ>=================================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	// min-height: 200vh;
	// position: relative;
	&._loaded {}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	// @media (max-width: $md1 + px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2+px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox";
@import "datepicker";
@import "lightgallery";
//@import "popover.min";
//@import "baguetteBox";
// @import "fancybox.min";
//@import "pagging";
// @import "map";
// @import "slider-index";
// @import "catalog";
// @import "collection";
@import "tippy";
@import "nouislider";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	// padding: 35px 0; 
	// padding-top: 80px;
}

//===================================================================================================================================
.slider-main {}

.slider-bg-wrap {
	position: relative;

}

.slider-bg {
	background: grey;

	&__container {
		flex-direction: column;
		position: relative;
		z-index: 50;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	&__slide {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		// height: 828px;
		min-height: 100vh;
		padding: 160px 0 130px 0;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: center !important;
		// filter: blur(3px);
	}

	&__title {
		color: #fff;
		font-size: 63px;
		margin-bottom: 20px;
	}
}

.slider-bg__slide-nuar_blk {
	background-color: #00000065;
}

.slider-bg__subtitle {
	color: #fff;
	text-align: center;
	font-size: 28px;
	line-height: 1.2;
}

.slider-bg__link {
	margin-top: 35px;
}

.swiper-button-block {
	display: flex;
	justify-content: space-between;
	width: 130px;
}

.slider-bg__swiper-button-block {
	display: block;
	position: absolute;
	right: 18%;
	bottom: 14%;
}

.slider-bg__swiper-button-block ._container {
	display: flex;
	justify-content: space-between;
}

.slider-main__slide-1 {
	background-image: url('../img/main-bg.jpg');
}

.slider-main__slide-2 {
	background: url('../img/main-bg-03.jpg');
}

.slider-main__slide-3 {
	background: url('../img/main-bg-02.jpg');
}

.product-sl-paggination {
	position: absolute;
	left: 50%;
	bottom: 2%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

//========================================================================================================================================================
.about {
	background: #EDEEEF;
}

.about__subtitle {
	font-size: 18px;
	text-align: center;
}

//========================================================================================================================================================

.objects ._container {
	display: flex;
	flex-direction: column;
}

.objects__title {}

.objects__inner {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;
	margin-bottom: 43px;

	&:last-child {
		margin-bottom: 0;
	}
}

.objects__column {
	display: flex;
	flex: 0 1 33.333%;
	padding: 0 5px;
	padding-bottom: 10px;
}

.card-objects {
	display: flex;
	flex-direction: column;
	flex: 0 1 100%;
	overflow: hidden;
}

.card-objects__img {
	position: relative;
	height: 300px;
	overflow: hidden;
}

.card-objects__img-nuar_blk {
	background-color: #00000035;
}

.card-objects__descp {
	flex: 1 1 auto;
	padding: 20px 13px;
	background: #00b4f1;
	transition: all 1.5s;
}

// .card-objects:hover .card-objects__descp {
// 	background: #B58439;
// 	transition: all 0.6s;
// }

.card-objects__descp-title {
	font-family: 'Ceremonioustwo', sans-serif;
	font-size: 20px;
	text-align: center;
	color: #fff;

	span {
		color: #fff;
		font-weight: 300;
	}
}

.objects__btn {
	margin: 0px auto;
}

//========================================================================================================================================================

.banner {
	position: relative;
	padding: 121px 25px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../img/banner-01.jpg');
}

.banner__nuar_blk {
	background-color: #00000065;
}

.banner__title {
	position: relative;
	z-index: 5;
	font-size: 60px;
	font-weight: 300;
	line-height: 117.98 / 98.32 *100%;
	color: #fff;

	span {
		font-size: 50px;
		line-height: 84 / 70 *100%;
		color: #fff;
		margin-top: -15px;
		display: block;
	}

}

//========================================================================================================================================================

.services {
	padding-bottom: 0;
}

.services__title {}

.services__subtitle {
	font-size: 18px;
	margin-bottom: 20px;
}

.services__wrap {
	padding: 65px 0 35px 0;
	background: #EDEEEF;
}

.services__inner {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.services__column {
	display: flex;
	flex: 0 1 33.333%;
	// flex: 0 1 50%;
	padding: 0 10px;
	padding-bottom: 55px;
}

.services__card {
	display: flex;
	align-items: center;
	flex: 0 1 100%;
	flex-direction: column;
	// flex-direction: column-reverse;
	overflow: hidden;
	border: 2px solid #00b4f1;
	padding-bottom: 25px;
}

.services__card-descp {
	flex: 1 1 auto;
	padding: 0 35px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 28px;
}

.services__card-descp-name {}

.services__card-descp-name-line {
	margin: 13px auto 13px auto;
}

.services__card-descp-text {
	font-weight: 500;
	line-height: 16.8px;
}

.services__card-descp-text-price {
	font-size: 18px;
	font-weight: 700;
	// color: #00b4f1;
	margin-top: 10px;
}

.services__card-slider {
	position: relative;
	// flex: 0 1 449px;
	max-width: 449px;
	max-width: 100%;
	width: 100%;
	height: 345px;
	overflow: hidden;
}

.services__card-slider-slide {}

.services__card-btn {
	// margin-top: 33px;
}

.servicesSl-swiper-paggination {
	position: absolute;
	left: 50%;
	bottom: 5%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.services__card-slider-slide {
	width: 100% !important;
	height: 100% !important;
}

.services__card-slider-inner {
	height: 100%;
}

//========================================================================================================================================================

.reviews__inner {
	display: flex;
	justify-content: space-between;
	// margin: 0 -35px;
}

// .reviews__column {
// 	display: flex;
// 	flex: 0 1 48%;
// 	padding: 17.5px;
// }

.reviews__card {
	display: flex;
	flex: 0 1 48%;
	background: #C0AC79;
	overflow: hidden;
}

.reviews__card-descp {
	font-weight: 500;
	padding: 30px 35px 50px 53px;
}

.reviews__card-descp-name {
	color: #fff;
	font-weight: 500;
	margin-bottom: 20px;
}

.reviews__card-descp-date {
	font-weight: 500;
	margin-bottom: 3px;
}

.reviews__card-descp-line {
	width: 100%;
	height: 1px;
	background: #fff;
}

.reviews__card-descp-text {
	padding: 22px 0;

	p {
		line-height: 16.8px;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.reviews__card-descp-link {
	font-weight: 500;
	color: #fff;
	text-decoration: underline;
}

.reviews__card-slider {
	flex: 0 0 290px;
	max-width: 290px;
	width: 100%;
	// max-height: 416px;
}

.reviews__card-slider-slide,
.reviews__card-slider-inner,
.reviews__card-slider-inner .swiper-wrapper {
	height: 100% !important;
}

//========================================================================================================================================================

.team__wrap {
	position: relative;
}

.team__wrap ._container {
	display: flex;
	margin-bottom: 55px;
}

.team__bg {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 250px;
	z-index: -1;
	background: #EDEEEF;
}

.team__img {
	flex: 0 0 343px;
	height: 343px;
	overflow: hidden;
	margin-right: 88px;
}

.team__descp {
	flex: 1 1 auto;
	padding: 23px 0;
}

.team__title {
	margin-bottom: 15px;
}

.team__subtitle {
	font-size: 18px;
	font-weight: 700;
	color: #B58439;
	margin-bottom: 35px;
}

.team__descp-text-block {
	p {
		line-height: 16.8px;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.team__inner {
	display: flex;
	margin: 0 -33px;
}

.team__column {
	display: flex;
	flex: 0 1 20%;
	padding: 0 33px;
}

.team__card {}

.team__card-img {
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 40px;
}

.team__card-name {
	text-align: center;
}

.team__card-line {
	margin: 20px auto 20px auto;
}

.team__card-speciality {
	font-size: 18px;
	line-height: 21.6px;
	font-weight: 700;
	color: #B58439;
	text-align: center;
}

//========================================================================================================================================================

.consultation {
	position: relative;
	background-size: cover;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url('../img/consultation-form.jpg');
}

.consultation__title {
	position: relative;
	z-index: 5;
	color: #fff;

	span {
		font-size: 26px;
		color: #fff;
	}
}

.consultation__form {
	position: relative;
	z-index: 5;
	padding: 0 85px;
}

.consultation__form-inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.consultation__form-input {
	flex: 0 1 48%;
	margin-bottom: 15px;
}

.consultation__form-textarea {
	flex: 0 1 48%;
	height: 100px;
}

.consultation__form-btn {
	margin-top: 33px;
}

.consultation__nuar_blk {
	background-color: #00000090;
}

//========================================================================================================================================================

.blog__inner {
	display: flex;
	margin: 0 -10px;
}

.blog__column {
	display: flex;
	flex: 0 1 25%;
	padding: 0 10px;
}

.blog__card {
	display: flex;
	flex-direction: column;
	flex: 0 1 100%;
	padding-bottom: 38px;
	background: #EDEEEF;
	overflow: hidden;
}

.blog__card-img {
	min-height: 200px;
	max-height: 200px;
	overflow: hidden;
}

.blog__card-descp {
	flex: 1 1 auto;
	padding: 23px 15px 30px 26px;
}

.blog__card-descp-title {}

.blog__card-descp-line {
	margin: 20px 0;
}

.blog__card-descp-text {
	line-height: 16.8px;
}

.blog__card-btn {
	align-self: start;
	margin: 0 15px 0 26px;
}

//========================================================================================================================================================

.page-banner {
	position: relative;
	height: 500px;
	padding: 97px 25px;
	background: grey;
	background-repeat: no-repeat !important;
	background-position: 0 0 !important;
	background-size: cover !important;
}

.page-banner__container {
	flex-direction: column;
	position: relative;
	z-index: 50;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

.page-banner__title {
	margin: 0;
}

.page-banner-services {
	background-image: url('../img/banner-services.jpg');
}

.page-section {
	padding: 75px 0;
}

.page-inner {
	flex-wrap: wrap;
}

.page-inner .services__column {
	padding-bottom: 58px;
}

.page-banner-blog {
	background-image: url('../img/banner-blog.jpg');
}

.page-inner .blog__column {
	padding-bottom: 23px;
}

.page-banner-team {
	background-image: url('../img/banner-team.jpg');
}

.page-inner .team__column {
	padding-bottom: 58px;
}

.page-banner-portfolio {
	background-image: url('../img/banner-portfolio.jpg');
}

.page-inner .objects__column {
	padding-bottom: 7px;
}

.page-banner-service {
	background-image: url('../img/banner-service.jpg');
}

.page-banner-house {
	background-image: url('../img/banner-house.jpg');
}

//========================================================================================================================================================

.we-numbers {
	padding-bottom: 0;
	background: #1f1f1f;
	border-top: 3px solid #00b4f1;
}

.we-numbers__title {
	color: #fff;
	margin-bottom: 45px;
}

.we-numbers__inner {
	justify-content: space-around;
	margin-bottom: 55px;
}

.we-numbers__column {
	padding: 0 25px;
}

.we-numbers__card {
	color: #fff;
	text-align: center;
}

.we-numbers__card-title {
	font-size: 3.25em;
	line-height: 1;
}

.we-numbers__card-subtitle {
	font-size: 1.2rem;
	letter-spacing: .125em;
	line-height: 1.5;
	text-transform: uppercase;
}

.we-numbers__link-block {
	display: block;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 26px;
	padding: 30px 15px;
	background: #00b4f1;
}

//========================================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<Адаптив>===========================================================================================================================================
@import "media";